* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(94, 89, 89);
  
}
.headers {
  height: 100px;
}
.firstparent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.parent {
  gap: 13px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.parent3 {
  width: 84%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 3px solid #348f34;
  border-radius: 5px;
}
.sections1 {
  width: 92%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sections {
  width: 10%;
  gap: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.listparen {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
h5 {
  text-indent: 15px;
  padding: 9px 5px;
  font-size: large;
  margin-bottom: 0rem;
}
.button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
i:hover {
  color: darkblue;
  background-color: #f4511e;
}